/* COLORS */
* {
    font-family: 'Chivo Light', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121725;
}

.white-color {
    color: #ffffff;
}

.primary-color {
    color: #121725;
}

.secondary-color {
    color: #54E6AF;
}

.dark-grey-color {
    color: #2C344B;
}

.light-grey-color {
    color: #5A668A;
}

.grey-color {
    color: #C2CBE5;
}

.title-font {
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
    font-weight: normal;
}

.body-font {
    font-size: 18px;
    line-height: 28px;
}

.btn-primary {
    background: #54E6AF;
    border-radius: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 27px;
    padding-right: 27px;
    color: black;
    border: 0px solid #54E6AF;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}

.btn-primary:hover {
    background: #B3FFE2;
}

.container {
    display: grid;
    color: black;
    font-size: 40px;
    grid-template-rows: 10% 10% 5% 20% 10% 10% 15% 20%;
    grid-template-columns: 10% 30% 25% 35%;
    /* grid-template-areas:
        " . . . ."
        ". logo host host"
        ". . host host"
        ". title title host"
        ". desc desc host"
        ". inp inp host"
        ". icons icons host"
        ". . . host"
    ; */
}

.item-2,
.item-3 {
    grid-column: 4 / 5;
}

.item-1 {
    grid-area: logo;
    grid-area: 2 / 2 / 3 / 3;
}

.item-4 {
    grid-area: title;
    z-index: 1;
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    /* place-self: end stretch; */
    /* padding-top: 30px; */
    align-self: center;
}

.item-2 {
    /* background-image: url("assets/desktop/image-host.jpg"); */
    /* background-size: cover; */
    grid-area: host;
    grid-area: 2 / 3 / -6 / 5;
    position: relative;
    /* grid-row: 2 / 4; */
}



.item-5 {
    z-index: 1;

    grid-area: desc;
    grid-row: 5 / -5;
    grid-column: 2 / 4;
    padding-top: 30px;
    justify-self: start;
    /* align-self: end; */
    word-wrap: normal;
}

.item-6 {
    z-index: 1;
    grid-area: inp;
    grid-row: 6 / -4;
    grid-column: 2 / 4;
}

.item-7 {
    z-index: 1;
    grid-area: icons;
    grid-row: 7 / -3;
    grid-column: 2 / 4;

}

.input-with-button {
    background-color: #2C344B;
    height: 56px;
    border-radius: 28px;
    display: flex;
    justify-content: space-evenly;
}

.input-style-class {
    background-color: #2C344B;
    color: white;
    border: 0px solid #2C344B;
}

input:focus {
    outline: none;
    background-color: #2C344B;
    color: #5A668A;
}

.hiding-class {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: bold;
}

.item-3 {
    grid-area: dots;
    /* grid-row: 7 / -3; */
}

.item-2>img {
    width: 100%;
}