/* COLORS */
* {
    font-family: 'Chivo Light', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121725;
}

.white-color {
    color: #ffffff;
}

.primary-color {
    color: #121725;
}

.secondary-color {
    color: #54E6AF;
}

.dark-grey-color {
    color: #2C344B;
}

.light-grey-color {
    color: #5A668A;
}

.grey-color {
    color: #C2CBE5;
}

.title-font {
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
    font-weight: normal;
}

.body-font {
    font-size: 18px;
    line-height: 28px;
}

.btn-primary {
    background: #54E6AF;
    border-radius: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 27px;
    padding-right: 27px;
    color: black;
    border: 0px solid #54E6AF;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-primary:hover {
    background: #B3FFE2;
}

.container {
    display: grid;
    color: black;
    font-size: 40px;
    grid-template-rows: minmax(80px, auto);
    grid-template-columns: 165px 1fr 1fr 2fr;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vh;
}

.item-1 {
    grid-area: logo;
    grid-area: 2 / 2 / 3 / 3;
}

.item-4 {
    grid-area: text;
    grid-area: 3 / 2 / 5 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: #121725;
}

.item-2>img {
    object-fit: fill;
    width: 140vh;
    max-height: 75vh;
}

.item-2 {
    grid-area: 2 / 3 / 5 / 5;
}

.item-3 {
    grid-area: dots;
    grid-column: 4;
    grid-row: 5 / 6;
    justify-self: end;
    transform: translateY(-65%);
}

.title-class {
    max-width: 700px;
}

.description-class {
    max-width: 500px;
}

.input-with-button {
    background-color: #2C344B;
    height: 56px;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
}

.input-class {
    max-width: 500px;
    margin-bottom: 0;
}

.input-style-class {
    margin-left: 35px;
    border-radius: 28px;
    background-color: #2C344B;
    color: white;
    border: 0px solid #2C344B;
}

input:focus {
    outline: none;
    background-color: #2C344B;
    color: #5A668A;
}


.hiding-class {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: bold;
    width: 175px;
    max-height: 14px;
}


.icons-class {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
}

@media screen and (max-width: 1539px) and (min-width: 1050px) {
    .item-2>img {
        object-fit: fill;
        min-width: 120vh;
        height: 100vh;
    }

    .icons-class {
        justify-content: flex-start;
        gap: 10px;
        /* max-width: 300px; */
    }
}

@media only screen and (max-width: 1050px) {
    .title-font {
        font-size: 48px;
        line-height: 56px;
    }

    .container {
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 39px 1fr 1fr 1fr;
        /* height: 150vh; */
    }

    .item-1 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .item-2 {
        grid-area: 1 / 2 / 3 / 4;
    }

    .item-2>img {
        object-fit: none;
    }

    .item-3 {
        grid-row: 3;
        grid-column: 2;
        justify-self: start;
        align-self: center;
        transform: translateY(0);
    }

    .item-4 {
        grid-area: 2 / 2 / 4 / 3;
        gap: 10px;
        justify-content: flex-start;
    }
}




@media only screen and (max-width: 576px) {
    .container {
        grid-template-rows: 175px 1fr 94px;
        grid-template-columns: 24px 1fr 24px;
        min-width: 0;
        position: relative
    }

    .item-1 {
        justify-self: center;
        place-self: center;
        z-index: 1;
    }

    .item-2 {
        grid-area: 1 / 1 / 4 / 3;
    }

    .item-2>img {
        opacity: 0.4;
        /* max-width: 100%; */
        height: auto;
        width: 100%;
        /* object-fit: cover; */
        /* height: 150vh; */
        /* width: 80vh; */
    }

    .item-3 {
        display: none;
    }

    .item-4 {
        z-index: 1;
        background-color: transparent;
    }
}